#all-card {
    width: 350px;
    height: 200px;
    background-image: linear-gradient(to right, #8A05BE , #820AD1);
    border-radius: 5px;
    padding: 10px;
}

#card-number {
    margin-top: 50px;
    font-weight: 900;
    margin-bottom: -1px;
    font-size: 20px;
}

#card-date {
    font-weight: 700;
}

#mid-card {
    display: flex;
    
}

#div-date {
display: flex;
justify-content: right;
width: 20%;
margin-right: 10px;
}
#div-name {
    display: flex;
    width: 80%;
    }
#chip {
    padding-left: 250px;
}